
.nametag {
    /* background-color: #4aaaa5; */
    padding: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 28px;
    margin-left: 340px;
    color: #ffffff;
}

.list-items {
    margin-right: 350px;
    font-size: 20px;
}

.navbar {
    border-bottom: 2px solid #cccccc;
    margin-left: 0;
}

body {
    background-color: #dddddd;
}


h3 {
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    text-align: justify;
}

.container {
    margin-top: 20px;
    padding-bottom: 10px;
    border: 2px solid #cccccc;
    background-color: #ffffff;
}

.img-fluid {
    width: 300px;
    height: 200px;
    position: relative;
}

.figure-caption {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    bottom: 60px;
    width: 300px;
}

.contact-container{
    margin-bottom: 50px;
}

.contact-links {
    
    background: #dddddd;
    border: 1px solid #4aaaa5;
    border-radius: 5px;
    color: #4aaaa5;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding:  10px ;
    text-decoration: none;
}

.contact-links:hover {
    color: #4aaaa5;
}

.footer {
    font-size: 12px;
    color: #cccccc;
    padding: 15px;
    margin-top: 50px;
    background-color: #343a40;
    border-top: 5px solid #4aaaa5;
   
}
