
.nametag {
    background-color: #4aaaa5;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 200px;
    color: #ffffff;
}

.list-items {
    margin-right: 200px;
}

.navbar {
    border-bottom: 2px solid #cccccc;
    margin-left: 0;
}

body {
    background-color: #dddddd;
}


h3 {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    text-align: justify;
}

.container {
    margin-top: 20px;
    border: 2px solid #cccccc;
    background-color: #ffffff;
}